body {
    background: url(https://bit.ly/4bcK1Hc);
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
}

#interface {
    background-color:#d79f89;
    margin: auto;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    box-shadow: 0px 10px 10px #302221;
}

/* .new-alerts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.new-alerts div {
    margin: 30px;
    width: 85%;
    flex:1;
    text-align: center;
} */

#post-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 10px;
    box-shadow: 0px 10px 10px rgba(24, 148, 192, 0.274);
    resize: none;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* .card-container div {
    margin: 30px;
    width: 85%;
    flex:1;
    background-color: lightgrey;
    text-align: center;
} */

.card {
    margin: 30px;
    width: 85%;
    flex:1;
    background-color: white;
    text-align: center;
}

#modify-buttons {
    margin-top: 20px;
    display:flex;
    
}

#modify-buttons div {
    align-self: flex-end;
}



